# Dependencias
node_modules/

# Variables de entorno ¡CRÍTICO!
.env
.env.*

# Archivos de build (si usas React compilado)
dist/
build/

# Archivos y respaldos de Base de Datos
*.sql
*.sqlite
*.sqlite3
*.db

uploads/
ca-certificate.crt